<div class="row-fluid">
    <div class="hero-unit">
      <table>
      <tr>
      <td width="650" valign="top">
      <h1>About</h1>
      <h2>Making things easier for Coaches, players and admins</h2>
      <ul>
        <li><h4>Never a monthly fee</h4></li>
        <li><h4>We only care about soccer</h4></li>
        <li><h4>Export your data at any time</h4></li>
        <li><h4>All of your soccer information organized and in one place.</h4></li>
        <li><h4>Manage your soccer team for free.</h4></li>
        <li><h4>Keep in contact with your team using social networking.</h4></li>
        <li><h4>Automate team management tasks to make your life easier.</h4></li>
        <li><h4>Share picture and video links with the team.</h4></li>
        <li><h4>Post documents and forms.</h4></li>
        <li><h4>Get feedback from parents.</h4></li>
        <li><h4>Keep a list of refs and have the site email them.</h4></li>
        <li><h4>Allow the public to see only what you want them to.</h4></li>
        <li><h4>Everything is private by default.</h4></li>
        <li><h4>Coaches can create private player evaluations.</h4></li>
      </ul>
      </td>
      <td>
        <% if !signed_in? %>
          <%= render 'signup' %>
        <% end %>
      </td>
      </tr>
      </table>
    </div> <!-- hero -->
  </div> <!-- row -->

