<div class="row-fluid">
    <div class="hero-unit">
      <h1>Contact Us</h1>
      <h2>Making life easy for soccer team coaches,<br/> administrators, and parents</h2>
    </div> <!-- hero -->
  </div> <!-- row -->
  <div class="row">
    <div class="span4">
      <h1>Email</h1>
      <hr/>
      <h4>Info: <%= link_to "info@teamsoccer.org", "mailto:info@teamsoccer.org" %></h4>
      <h4>Support: <%= link_to "support@teamsoccer.org", "mailto:support@teamsoccer.org" %></h4>
      <h4>Or connect to us with:</h4>
      <%= image_tag "facebook-icon.png" %>
      <%= image_tag "twitter-icon.png" %>
    </div> <!-- span -->
    <div class="span4">
      <h3>Send us a message</h3>
      <form class="well">
        <label>Email</label> <input type="text"/>
        <label>Message</label> <textarea></textarea>
        <input type="Submit">
      </form>
    </div> <!-- span -->
  </div> <!-- row -->

