<div class="row-fluid">
    <div class="hero-unit">
      <h1>FAQ</h1>
      <ol>
        <li><h2>How do I post a team picture?</h2></li>
        <p>Go to your team page and click the link to Add a picture.  Then enter a URL.</p>
        <li><h2>Question #2</h2></li>
        <p>Answer</p>
        <li><h2>Question #3</h2></li>
      </ol>
    </div> <!-- hero -->
  </div> <!-- row -->

