<div class="row-fluid">
    <div class="hero-unit">
      <table>
      <tr>
      <td width="650" valign="top">
        <h1>Welcome to<br/>teamsoccer.org</h1>
        <h2>Making life easy for soccer team coaches,<br/> administrators, and parents</h2>
      </td>
      <td valign="top">
      <% if !signed_in? %>
        <%= render 'signup' %>
      <% end %>
      </td>
      </tr>
      </table>
    </div> <!-- hero -->
  </div> <!-- row -->

